.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(192,238,222);
    height: 50vh;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    background-color: rgb(209, 229, 151);
    height: 50vh;
    align-items: center;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: rgb(236, 131, 206);
    border: 2px solid black;
}
.box2{
    height:100px;
    width: 100px;
    background-color: bisque;
    border: 2px solid black;
}
